@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background:#fff;
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 80px;
    height: 105px;
    padding: 2.5px;
    margin:20px 20px;
}
.title h1{
    font-size: 35px;
    margin-top: 25px;
    padding:10px;
    font-weight: bold;
}
.title h2{
    font-size: 25px;
    font-weight: 500;
}
.title p{
    font-size: 15px;
    padding-left: 80px;
}
.logo-1 img{
    width: 120px;
    height: 140px;
    padding: 2.5px;
    margin:10px 20px;
}
nav{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    background: rgb(33, 33, 58);  
}
.home-btn{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 15px;
    color: white;
}
nav ul{
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin:10px 20px;
    padding:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-left: 20px;
}
.apply-drp{
    display: none;
}
nav ul li:hover .apply-drp{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background:rgb(33, 33, 58);
}
.apply-drp ul{
    display: block;
    margin: 5px;
}
.apply-drp ul li{
    width: 100px;
    padding: 10px;
}
.apply-drp ul li a{
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
}
.search-input{
    width: justify;
    height: 20px;
}
.container{
    width: 100%;
    height: 120vh;
    padding: 0;
    margin-top: 20px;
    color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
}
.content,.content1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.content img,.content1 img{
    width: 870px;
    height: 400px;
    margin:15px;
}
.content p,.content1 p,.faq p{
    font-size: 17px;
    font-weight: 500;
    margin: 15px;
    padding-top:15px ;
    color: black;
}
.content h2,.content1 h2,.faq-content{
    font-size: 27px;
    font-weight: 500;
    padding-top:15px ;
    color: black;
    text-align: left;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
}
.content1 h3{
    font-size: 20px;
    font-weight: 500;
    padding-top:15px ;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
.faq h3{
    font-size: 20px;
    font-weight: 500;
    padding-top:15px ;
    margin: 10px;
    color: black;
    text-align: left;
    font-family: 'Poppins', sans-serif;

}
.most-view{
    width: 490px;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2) ,0 6px 20px 0 rgb(0, 0, 0, 0.19) ;
    margin: 6%;
    background-color: #f1f1f1;
    grid-column-start: 2;
    grid-column-end: 3;
}
.most-view h2{
    font-size: 30px;
    font-weight: 500;
    padding-top:15px ;
    color: black;
    text-align: center;
}
.most-view .branch ul{
    list-style: none;
    padding: 17px;
}
.most-view .branch li{
    font-size: 15px;
    font-weight: 300;
    list-style: none;
    color: black;
    padding: 17px;
    margin: 9px;
    border: 1px solid gray;
    border-radius: 5px;
}
table{
    width: 900px;
    height: fit-content;
    /* border: 2px solid black; */
    color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-start:3;
    border-collapse: collapse;
    margin: 25px;
    margin-top: 37px;
}
.row td{
    font-size: 18px;
    padding: 15px;
    border: 2px solid black;
}
table th{
    border: 2px solid black;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
}
#result1,#result2{
    color: red;
    font-weight: bolder;
}
#result4,#result3,#result5{
    color: green;
    font-weight: bolder;
}
.faq-content{
    display: flex;
    flex-direction: column;
}
.faq{
    color: black;
    border: 1px solid gray;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.map{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.map iframe{
    border: 1px solid black ;
    border-radius: 5px;
}
.content li{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;

}